@font-face {
  font-family: Forum;
  src: url(../fonts/Forum-Regular.woff2);
}

body {
  font-size: 20px;
  margin: 0;
  font-family: Forum;
  padding: 5dvh 7dvw;
  /* height: 90dvh; */
  max-height: 100%;
  background: linear-gradient(
    -135deg,
    rgba(220, 220, 225),
    rgba(50, 100, 150, 0.5)
  );
  background-attachment: fixed;
}

main {
  height: 100%;
}

h1 {
  font-size: 1.9rem;
  text-align: center;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: linear-gradient(
    45deg,
    rgba(225, 225, 225, 0.6),
    rgba(175, 175, 175, 0.4)
  );
  /* outline: 2px solid rgba(0, 0, 0, 0); */
  /* transition: outline 0.3s ease; */
  transition: background-color 0.3s ease;

  &:hover {
    /* outline: 2px solid rgba(0, 0, 0, 0.5); */
    background-color: rgba(50, 100, 150, 1);
  }
}

dialog {
  align-self: start;
  justify-self: center;
  justify-items: center;
  width: min(19rem, 70dvw);
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 10%;
  border: none;
  border-radius: 0.3rem;
  background: linear-gradient(
    135deg,
    rgba(220, 220, 225, 1),
    rgba(50, 100, 150, 1)
  );
  box-shadow: 0 1ch 2ch rgba(0, 0, 0, 0.2);
  & form {
    justify-items: center;
  }
  & p {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    & input {
      align-self: end;
      justify-self: start;
      height: 1rem;
      margin-right: 1rem;
    }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

form label {
  justify-self: start;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

form input,
form button {
  padding: 0.5rem;
}

form input {
  border-style: none;
  outline-style: none;

  &[type="text"],
  &[type="number"] {
    outline: 3px solid rgba(220, 220, 225);
    border-radius: 0.3rem;
    background: transparent;
    transition: 0.3s ease;
  }

  &:focus[type="text"],
  &:focus[type="number"] {
    outline: 3px solid rgba(50, 100, 150, 0.5);
  }
}

form p {
  display: grid;
  margin-top: 0.25rem;
  justify-items: center;
  align-items: center;
  column-gap: 0.25rem;
  & input[type="checkbox"] {
    align-self: center;
    padding: 0;
    margin: 0;
    margin-top: 0.3rem;
  }
}
form button {
  margin-top: 1rem;
}

#libraryCardsContainer {
  /* margin-top: 6.5rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(19rem, 70dvw), 1fr));
  gap: 1.5rem;
}

.card {
  /* border: 1px solid rgba(125, 125, 125, 0.2); */
  border-radius: 0.3rem;
  /* align-content: end; */
  padding: 1.5rem;
  padding-right: 1rem;
  line-height: 1;
  display: grid;
  grid-template-rows: 1fr 2.05ch 2.05ch 2.05ch;
  /* height: 13rem; */
  /* background-color: rgba(50, 100, 150, 0.2); */
  background: linear-gradient(
    135deg,
    rgba(220, 220, 225),
    rgba(50, 100, 150, 0.5)
  );
  box-shadow: 0 1ch 2ch rgba(0, 0, 0, 0.2);
}

.card h3 {
  width: 80%;
  display: inline-block;
  margin: 0 0 0.5rem;
  text-wrap: balance;
}

.card p {
  font-size: 1.25rem;
  /* line-height: 1; */
  align-self: end;
  margin: 0.2rem 0;
}

.card button {
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  /* width: 3ch;
  height: 3ch; */
  background: transparent;
  transition: color 0.3s ease;
}

button.removeBook {
  float: right;
  font-size: 1rem;
  text-align: center;
  position: relative;
  top: -2ch;
  right: -1ch;
  padding: 0;
  margin: 0;
  width: 3ch;
  height: 3ch;
  background: transparent;
  transition: color 0.3s ease;

  &:hover {
    color: rgba(175, 50, 50, 0.8);
  }
}

.header {
  /* position: fixed; */
  /* width: calc(100% - 14dvw); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid rgba(125, 125, 125, 0.5); */
  border-radius: 0.3rem;
  background: linear-gradient(
    10deg,
    rgba(220, 220, 225),
    rgba(50, 100, 150, 0.5)
  );
  box-shadow: 0 1ch 2ch rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

#openDialog {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  & img {
    display: inline;
    vertical-align: sub;
    height: 1.4rem;
    text-align: center;
  }
}

.color-red {
  color: rgba(175, 50, 50, 0.8);
  & button:hover {
    color: rgba(50, 100, 150, 0.9);
  }
}

.color-green {
  color: rgba(50, 100, 150, 0.9);
  & button:hover {
    color: rgba(175, 50, 50, 0.8);
  }
}
